<p><%=user['first_name']%></p>
<p><%=user['email']%></p>

<div>
    <p>Your Polls</p>
    <%polls.each do |poll|%>
        <a href="/poll/<%=poll['poll_id']%>/edit"><%=poll['title']%></a>
    <%end%>
</div>
<div>
    <a href="/user/<%=user['user_id']%>/edit">edit profile</a>
    <form action="user" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="user_id" value=<%=user['user_id']%>>
        <button>Delete Profile</button>
    </form>
</div>